
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    /*.card-img-top {
      width: 100%;
      height: auto; /* Para que la altura se ajuste automáticamente 
      object-fit: cover; /* Ajusta la imagen dentro del cuadro 
    }*/
    a {
      text-decoration: none; /* Elimina el subrayado */
    }

    ul.list-unstyled li {
      margin-bottom: 5px; /* Reduce el espacio entre elementos */
    }

    
    ul.list-unstyled a {
      font-size: 14px; /* Reduce el tamaño de fuente */
      padding: 5px 0; /* Ajusta el padding para minimizar */
    }
    .card img {
      width: 100%;
      height: 200px;        /* todas mismo alto */
      object-fit: contain; /* NO recorta, muestra toda la imagen */
      background: #fff;    /* para que no se vea feo si sobra espacio */
    }

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 100%; /* Ajustar según tu diseño */
      height: 100%; /* Ajustar según tu diseño */
      padding: 2%;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
    }

    .card-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 16px; /* Espaciado entre tarjetas */
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
      .text-body-secondary {
        font-size: 15px; /* Ajusta el tamaño según necesites */
      }
    }

    .b-example-divider {
      width: 100%;
      height: 3rem;
      background-color: rgba(0, 0, 0, .1);
      border: solid rgba(0, 0, 0, .15);
      border-width: 1px 0;
      box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    .b-example-vr {
      flex-shrink: 0;
      width: 1.5rem;
      height: 100vh;
    }

    .bi {
      vertical-align: -.125em;
      fill: currentColor;
    }

    .nav-scroller {
      position: relative;
      z-index: 2;
      height: 2.75rem;
      overflow-y: hidden;
    }

    .nav-scroller .nav {
      display: flex;
      flex-wrap: nowrap;
      padding-bottom: 1rem;
      margin-top: -1px;
      overflow-x: auto;
      text-align: center;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
    }

    .btn-bd-primary {
      --bd-violet-bg: #712cf9;
      --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

      --bs-btn-font-weight: 600;
      --bs-btn-color: var(--bs-white);
      --bs-btn-bg: var(--bd-violet-bg);
      --bs-btn-border-color: var(--bd-violet-bg);
      --bs-btn-hover-color: var(--bs-white);
      --bs-btn-hover-bg: #6528e0;
      --bs-btn-hover-border-color: #6528e0;
      --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
      --bs-btn-active-color: var(--bs-btn-hover-color);
      --bs-btn-active-bg: #5a23c8;
      --bs-btn-active-border-color: #5a23c8;
    }

    .bd-mode-toggle {
      z-index: 1500;
    }

    .bd-mode-toggle .dropdown-menu .active .bi {
      display: block !important;
    }

    .text-body-secondary1{
      font-size: 12px;
    }